<div
  id="QuickShopModal-{{ product.id }}"
  class="modal modal--square modal--quick-shop"
  data-product-id="{{ product.id }}">
  <div class="modal__inner">
    <div class="modal__centered">
      <div class="modal__centered-content">
        <div id="QuickShopHolder-{{ product.handle }}"></div>
        <!--Klavyo-Collection-->
        {% comment %} {% if product.available %}
          <div
            class='klaviyo-product-container'
            id='klaviyo-data-handle-{{ product.handle }}'
            data-klaviyo-handle='{{ product.handle }}'>
            <div class="klaviyo-button-container"></div>
          </div>
        {% endif %} {% endcomment %}
      </div>

      <button type="button" class="modal__close js-modal-close text-link">
        <svg
          aria-hidden="true"
          focusable="false"
          role="presentation"
          class="icon icon-close"
          viewBox="0 0 64 64"><path d="M19 17.61l27.12 27.13m0-27.12L19 44.74" /></svg>
        <span class="icon__fallback-text">{{ 'general.accessibility.close_modal' | t | json }}</span>
      </button>
    </div>
  </div>
</div>
<div id="Klaviyo-selection-{{ product.id }}" data-handle="{{ product.title }}">
  <input type="hidden" id="product" value="{{ product.id }}">
  <select id="klaviyo_variants" class="selectpicker form-control input-lg">
    {% for variant in product.variants %}
      {% unless variant.available %}
        <option value="{{ variant.id }}">{{ variant.title }}</option>
      {% endunless %}
    {% endfor %}  
  </select>
</div>

{%- style -%}
  #QuickShopModal-{{ product.id }}.product__main-photos .product-slideshow {
    display: block;
  }
  #QuickShopModal-{{ product.id }}.product__main-photos .product__main-photo {
    display: none;
  }
  #QuickShopModal-{{ product.id }}.product__thumbs .product__thumb-item.product__thumb-item-featured {
    display: block !important;
  }
  #QuickShopModal-{{ product.id }}.product__thumbs .product__thumb-item a.is-active:before,
  #QuickShopModal-{{ product.id }}.product__thumbs .product__thumb-item a:focus:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 0 2px var(--colorTextBody) !important;
    z-index: 1;
  }
{%- endstyle -%}