<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}" dir="{{ settings.text_direction }}">
<head>
{% include "starapps-core" %}

<script type="text/javascript">
  var framefenster = document.getElementsByTagName("iFrame");

  if(framefenster.length > 0) {
    var auto_resize_timer = window.setInterval("autoresize_frames()", 400);
    function autoresize_frames() {
      for (var i = 0; i < framefenster.length; ++i) {
          if(framefenster[i].contentWindow.document.body){
            var framefenster_size = framefenster[i].contentWindow.document.body.offsetHeight;
            if(document.all && !window.opera) {
              framefenster_size = framefenster[i].contentWindow.document.body.scrollHeight;
            }
            framefenster[i].style.height = framefenster_size + 'px';
          }
      }
    }
  }
</script>
{% include "load-metafields" %}

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.color_button }}">
  <link rel="canonical" href="{{ canonical_url }}">
  <link rel="preconnect" href="https://cdn.shopify.com">
  <link rel="preconnect" href="https://fonts.shopifycdn.com">
  <link rel="dns-prefetch" href="https://productreviews.shopifycdn.com">
  <link rel="dns-prefetch" href="https://ajax.googleapis.com">
  <link rel="dns-prefetch" href="https://maps.googleapis.com">
  <link rel="dns-prefetch" href="https://maps.gstatic.com">

  {%- if settings.favicon != blank -%}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png" />
  {%- endif -%}

  {%- render 'seo-title' -%}

  {%- if page_description -%}
  <meta name="description" content="{{ page_description | escape }}">
  {%- endif -%}

  {%- render 'social-meta-tags' -%}

  {%- render 'font-face' -%}
  {{ 'theme.css' | asset_url | stylesheet_tag: preload: true }}
  {%- render 'css-variables' -%}

  <script>
    document.documentElement.className = document.documentElement.className.replace('no-js', 'js');

    window.theme = window.theme || {};
    theme.routes = {
      home: "{{ routes.root_url }}",
      cart: "{{ routes.cart_url | append: '.js' }}",
      cartPage: "{{ routes.cart_url }}",
      cartAdd: "{{ routes.cart_add_url | append: '.js' }}",
      cartChange: "{{ routes.cart_change_url | append: '.js' }}",
      search: "{{ routes.search_url }}"
    };
    theme.strings = {
      soldOut: {{ 'products.product.sold_out' | t | json }},
      unavailable: {{ 'products.product.unavailable' | t | json }},
      inStockLabel: {{ 'products.product.in_stock_label' | t | json }},
      stockLabel: {{ 'products.product.stock_label' | t: count: '[count]' | json }},
      willNotShipUntil: {{ 'products.product.will_not_ship_until' | t: date: '[date]' | json }},
      willBeInStockAfter: {{ 'products.product.will_be_in_stock_after' | t: date: '[date]' | json }},
      waitingForStock: {{ 'products.product.waiting_for_stock' | t | json }},
      savePrice: {{ 'products.general.save_html' | t: saved_amount: '[saved_amount]' | json }},
      cartEmpty: {{ 'cart.general.empty' | t | json }},
      cartTermsConfirmation: {{ 'cart.general.terms_confirm' | t | json }},
      searchCollections: {{ 'general.search.collections' | t | json }},
      searchPages: {{ 'general.search.pages' | t | json }},
      searchArticles: {{ 'general.search.articles' | t | json }}
    };
    theme.settings = {
      dynamicVariantsEnable: true,
      cartType: {{ settings.cart_type | json }},
      isCustomerTemplate: {% if request.page_type contains 'customers/' %}true{% else %}false{% endif %},
      moneyFormat: {{ shop.money_format | json }},
      saveType: {{ settings.product_save_type | json }},
      productImageSize: {{ settings.product_grid_image_size | json }},
      productImageCover: {{ settings.product_grid_image_fill }},
      predictiveSearch: {{ settings.predictive_search_enabled }},
      predictiveSearchType: {{ settings.search_type | json }},
      quickView: {{ settings.quick_shop_enable }},
      themeName: 'Impulse',
      themeVersion: "6.0.1"
    };

    window.TranslationLabOptions = {
      nodeProcessingType: 2
    }
  </script>

  {{ 'wiloke_my_instagram.js' | asset_url | script_tag }}
{{content_for_header}} 

  <script src="{{ 'vendor-scripts-v11.js' | asset_url | split: '?' | first }}" defer="defer"></script>

  {%- if shop.enabled_currencies.size > 1 -%}
    <link rel="stylesheet" href="{{ 'country-flags.css' | asset_url | split: '?' | first }}">
  {%- endif -%}
  <link rel="stylesheet" href="{{ 'country_alt_flags.css' | asset_url | split: '?' | first }}">
  <script src="{{ 'theme.js' | asset_url }}" defer="defer"></script>

  {%- if request.page_type contains 'customers/' -%}
    <script src="{{ 'shopify_common.js' | shopify_asset_url }}" defer="defer"></script>
  {%- endif -%}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" referrerpolicy="no-referrer"></script>
  {% render 'judgeme_core' %}
  
  {{ 'customize.css' | asset_url | stylesheet_tag: preload: true }}
<!-- HC - Adding slick slider - 23 August '22 -->
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script src="{{ 'customize.js' | asset_url }}" defer="defer"></script>
{% include "onvoard-initialize-head" %}
</head>

<body class="template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}{% if request.path == '/challenge' %} template-challange{% endif %}" data-center-text="{{ settings.type_body_align_text }}" data-button_style="{{ settings.button_style }}" data-type_header_capitalize="{{ settings.type_header_capitalize }}" data-type_headers_align_text="{{ settings.type_headers_align_text }}" data-type_product_capitalize="{{ settings.type_product_capitalize }}" data-swatch_style="{{ settings.swatch_style }}" {% if settings.disable_animations %}data-disable-animations="true"{% endif %}>

  <a class="in-page-link visually-hidden skip-link" href="#MainContent">{{ 'general.accessibility.skip_to_content' | t }}</a>

  <div id="PageContainer" class="page-container">
    <div class="transition-body">

    {%- section 'header' -%}
    {%- section 'newsletter-popup' -%}

      <main class="main-content" id="MainContent">
        {{ content_for_layout }}
      </main>

      {%- section 'footer-promotions' -%}
      <!-- HC Adding static image above footer 31 Mar '22 -->
      {% section 'static-image-text-footer' %}
      {%- section 'footer' -%}

    </div>
  </div>

  {%- section 'newsletter-popup' -%}

  {%- liquid
    render 'video-modal'
    render 'photoswipe-template'
    render 'tool-tip'
  -%}


{% include "bc_banner" %}

<!-- HC - Featured collection slider - 23 August '22 -->
  <script>
    $('.grid.grid--uniform.collection-slider').slick({
      dots: false,
      arrows: true,
      infinite: true,
      speed: 300,
      centerMode: true,
      centerPadding: '40px',
      slidesToShow: 4,
      slidesToScroll: 4,
      prevArrow: '<button type="button" class="slick-prev"><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"viewBox="0 0 407.436 407.436" style="enable-background:new 0 0 407.436 407.436;" xml:space="preserve"><polygon points="315.869,21.178 294.621,0 91.566,203.718 294.621,407.436 315.869,386.258 133.924,203.718 "/></svg></button>',
      nextArrow: '<button type="button" class="slick-next"><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"viewBox="0 0 407.436 407.436" style="enable-background:new 0 0 407.436 407.436;" xml:space="preserve"><polygon points="112.814,0 91.566,21.178 273.512,203.718 91.566,386.258 112.814,407.436 315.869,203.718 "/></svg></button>',
      responsive: [
        {
          breakpoint: 780,
          settings: {
            slidesToShow: 2,
            slidesToScroll: 2,
            dots: false
          }
        },
        {
          breakpoint: 480,
          settings: {
            slidesToShow: 1,
            slidesToScroll: 1
          }
        }
      ]
    });

    // HC - Adjustment to fix arrows position - 30 August '22
    let arrows = $('.collection-slider .slick-arrow');
    let image = $('.collection-slider .grid-product:first-child .grid-product__image-mask');

    $(document).ready(function() {
      let height = Math.round(image.height() / 2) - 5;
      $(arrows).css('top', height + 'px');
      console.log(height);
    });
    $(window).resize(function(){
      let height = Math.round(image.height() / 2) - 5;
      $(arrows).css('top', height + 'px');
      console.log(height);
    });
  </script>


  
<script>
 jQuery(document).ready(function(){
   //------iwish 2.0 counter hide show: -------
      setTimeout(function(){
        var iwC1 = $('.iw-link__count').text();
        //console.log("iwC1: ",iwC1);
        if(iwC1>0){ $('.iw-link__count').show();}
        else { $('.iw-link__count').hide(); }
      },2000);
        jQuery("body").on("click",".iWishAdd, .iWishAddColl, .iwish-backdrop,.iwish_drawer_close",function(){
           $('.hc-error').css('display', 'none');
   		   setTimeout(function(){
    		   var iwC1 = jQuery('.iw-link__count').text();
        //console.log("iwC1click: "+iwC1);
               if(iwC1>0){ jQuery('.iw-link__count').show();}
               else { jQuery('.iw-link__count').hide(); }
           },500);
         });

        jQuery("body").on("click",".iwish-float-icon",function(){
             jQuery('.react-col-1.hover.wish-h1').html('<svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-close" viewBox="0 0 64 64"><path d="M19 17.61l27.12 27.13m0-27.12L19 44.74"></path></svg>');
         });
    })
  </script>

<!-- HC - Mandatory size selection - 07 September '22 -->
  <script>
    $(document).ready(function(){
      $(sizeSwatch).prop('checked', false);
      $(atc).prop('disabled', false);
    })
    function doSizeRequired(parent) {
      parent.on("click",".frcp-wishlist-btn--add",function(){
        $('.hc-error').css('display', 'none');
      })
      parent.on("click",".frcp-wishlist-btn--remove",function(){
        $('.hc-error').css('display', 'none');
      })
     // debugger;
      let sizeWrap = parent.find('.variant-input-wrap[data-index="option3"]');
      let sizeSwatch = parent.find(sizeWrap).find('input[type="radio"]');
      let atc = parent.find('.product-single__form .add-to-cart');
      let atcForm = parent.find('.product-single__form');
      let unlockSizes = false;
      parent.find('.variant-input input[type="radio"]').on('click', function(){
   
       if($(this).data('index') === 'option3'){
         unlockSizes = true;
         $(atc).removeAttr('disabled');
         parent.find('.hc-error').css('display', 'none');
       }
       if(!unlockSizes){
         setTimeout(()=>{
            parent.find(sizeSwatch).prop('checked', false);
            parent.find(atc).prop('disabled', true);
         },0)
       } 
      })
      if(parent.find(sizeSwatch).prop('checked') == false) {
        parent.find(atcForm).click(function(e) {
          if(!unlockSizes){
            parent.find('.hc-error').css('display', 'block');
            e.preventDefault();
          }
          
        });
      }
    }
    try {
      doSizeRequired($(document));
    } catch (err) {
      console.error(err);
    }
    document.addEventListener('quickview:loaded', function(evt) {
      console.log(evt.detail.productId);
      const $quickForm = $(`.product-section.is-modal[data-section-id="${evt.detail.productId}"]`);
      console.log({form: $quickForm[0] });
      $quickForm.find(sizeSwatch).prop('checked', false);
      $quickForm.find(atc).prop('disabled', false);
      doSizeRequired($quickForm);
      
    });
    window.addEventListener('click', function(evt){
      if(evt.target.classList.contains('hc-remove')){
        const { id } = evt.target.dataset;
        let updates = {};
        updates[id] = 0;
        let params = {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({ updates }),
        };
        fetch('/cart/update.js', params)
          .then(res => res.json())
          .then(res => {
            document.dispatchEvent(new CustomEvent('cart:build'));
          })
      }
      
    });
  </script>
{% include "onvoard-appscripts" %}
</body>
</html>
